#divhead{
    width: 100%;
    
}
td{
    text-align: left;
    font-size: 12px;
    vertical-align: top;
}
.headtalbe td{
    padding: 10px 50px 25px 135px;
}
#divmenu{
    width: 100%;
    background-color: black;
    text-align: center;
    border-top: 4px;
    border-top-color: chartreuse;
    border-top-style: solid;
    font-size: 14px;
}
#divmenu a{
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}
#divsearch{
    width: 100%;
    background-color: darkorange;
    color: white;
    font-weight: bold;

}
#divsearch td{
    text-align: right;
    padding: 10px 220px 10px 10px;
}
#divplay{
    width: 900px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#divcontent{
    width: 900px;
    margin: auto;
    background-color: beige;
    padding: 10px 10px 10px 10px;
}
#divfoot{
    height: 60px;
    width: 100%;
    background-color: #efefef;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}